<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_79fe50e0dbd94193eb4044a0b43c8bf5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_79fe50e0dbd94193eb4044a0b43c8bf5" ></div>
        
</body>
<script>
    
    
            var map_79fe50e0dbd94193eb4044a0b43c8bf5 = L.map(
                "map_79fe50e0dbd94193eb4044a0b43c8bf5",
                {
                    center: [42.44510285, 19.258387751564968],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5786ac1dd024f7b7b64420cb98e13165 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var marker_080318c2e8e0edd42496261eb5e69460 = L.marker(
                [42.44743, 19.25001],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_e3d2bc2200d6366072dc5d93060b3e93 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_080318c2e8e0edd42496261eb5e69460.setIcon(icon_e3d2bc2200d6366072dc5d93060b3e93);
        
    
        var popup_3f8db09217b8d6583e2818760ba64d62 = L.popup({"maxWidth": "100%"});

        
            
                var html_b060167ba3b8bb5d42c6f27aafd71478 = $(`<div id="html_b060167ba3b8bb5d42c6f27aafd71478" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_3f8db09217b8d6583e2818760ba64d62.setContent(html_b060167ba3b8bb5d42c6f27aafd71478);
            
        

        marker_080318c2e8e0edd42496261eb5e69460.bindPopup(popup_3f8db09217b8d6583e2818760ba64d62)
        ;

        
    
    
            var marker_6a2a4d9af62a6aa52d2f45fb230b95c2 = L.marker(
                [42.45004, 19.23621],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_a55ab36d73699ada60fe442a623e4ef7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_6a2a4d9af62a6aa52d2f45fb230b95c2.setIcon(icon_a55ab36d73699ada60fe442a623e4ef7);
        
    
        var popup_c004aeeb65123cca29b5efb7deed78c0 = L.popup({"maxWidth": "100%"});

        
            
                var html_2cb86888f5cd2d8a101b06f94a0e665e = $(`<div id="html_2cb86888f5cd2d8a101b06f94a0e665e" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_c004aeeb65123cca29b5efb7deed78c0.setContent(html_2cb86888f5cd2d8a101b06f94a0e665e);
            
        

        marker_6a2a4d9af62a6aa52d2f45fb230b95c2.bindPopup(popup_c004aeeb65123cca29b5efb7deed78c0)
        ;

        
    
    
            var marker_6bbae9a34601ea41ba4f942905b99380 = L.marker(
                [42.43793, 19.23752],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_e47b0c766e8e3cd72080b89f62d80073 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_6bbae9a34601ea41ba4f942905b99380.setIcon(icon_e47b0c766e8e3cd72080b89f62d80073);
        
    
        var popup_15d6de879add454625ca9e66bd5a1f78 = L.popup({"maxWidth": "100%"});

        
            
                var html_38e8783c35564f2ba1739e3fad5da9d1 = $(`<div id="html_38e8783c35564f2ba1739e3fad5da9d1" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_15d6de879add454625ca9e66bd5a1f78.setContent(html_38e8783c35564f2ba1739e3fad5da9d1);
            
        

        marker_6bbae9a34601ea41ba4f942905b99380.bindPopup(popup_15d6de879add454625ca9e66bd5a1f78)
        ;

        
    
    
            var marker_8b1f34d17e6bf0bc39fd0361b2bb2c07 = L.marker(
                [42.42672, 19.24672],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_8e06a2d5f5e28241601d94049e285227 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_8b1f34d17e6bf0bc39fd0361b2bb2c07.setIcon(icon_8e06a2d5f5e28241601d94049e285227);
        
    
        var popup_d7220905c06d775fade7f2f718ace384 = L.popup({"maxWidth": "100%"});

        
            
                var html_3e513469893c244684d5eddfd3ca33b4 = $(`<div id="html_3e513469893c244684d5eddfd3ca33b4" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_d7220905c06d775fade7f2f718ace384.setContent(html_3e513469893c244684d5eddfd3ca33b4);
            
        

        marker_8b1f34d17e6bf0bc39fd0361b2bb2c07.bindPopup(popup_d7220905c06d775fade7f2f718ace384)
        ;

        
    
    
            var marker_d891d8c9efc36953435ed21308bd7e92 = L.marker(
                [42.42758, 19.25225],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_1db3226c67f8e5cb003308d604efe397 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_d891d8c9efc36953435ed21308bd7e92.setIcon(icon_1db3226c67f8e5cb003308d604efe397);
        
    
        var popup_04b2a9fe227f950b08667a7f7673739d = L.popup({"maxWidth": "100%"});

        
            
                var html_48c0ccc6e559a1c17f25ce6a19d5c118 = $(`<div id="html_48c0ccc6e559a1c17f25ce6a19d5c118" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_04b2a9fe227f950b08667a7f7673739d.setContent(html_48c0ccc6e559a1c17f25ce6a19d5c118);
            
        

        marker_d891d8c9efc36953435ed21308bd7e92.bindPopup(popup_04b2a9fe227f950b08667a7f7673739d)
        ;

        
    
    
            var marker_68038cdcfc02e95ec7d34276533888b5 = L.marker(
                [42.42815, 19.27409],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_61c1b57b2ee7b5deeeb6a2e79ec98e72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_68038cdcfc02e95ec7d34276533888b5.setIcon(icon_61c1b57b2ee7b5deeeb6a2e79ec98e72);
        
    
        var popup_0ac88fbf35965984151fec6556076b31 = L.popup({"maxWidth": "100%"});

        
            
                var html_6d4c3d18d915ae5f542ab2ac4cbc8e6d = $(`<div id="html_6d4c3d18d915ae5f542ab2ac4cbc8e6d" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_0ac88fbf35965984151fec6556076b31.setContent(html_6d4c3d18d915ae5f542ab2ac4cbc8e6d);
            
        

        marker_68038cdcfc02e95ec7d34276533888b5.bindPopup(popup_0ac88fbf35965984151fec6556076b31)
        ;

        
    
    
            var marker_a77723209410e9ec778ad5ab12b1a17d = L.marker(
                [42.43395, 19.28076],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_f15d372bfa3acdb295f528e4798c0ce8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_a77723209410e9ec778ad5ab12b1a17d.setIcon(icon_f15d372bfa3acdb295f528e4798c0ce8);
        
    
        var popup_68299054068e07191a41b439a112d87a = L.popup({"maxWidth": "100%"});

        
            
                var html_18b3441887d67dcace5a2e5028bfab66 = $(`<div id="html_18b3441887d67dcace5a2e5028bfab66" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_68299054068e07191a41b439a112d87a.setContent(html_18b3441887d67dcace5a2e5028bfab66);
            
        

        marker_a77723209410e9ec778ad5ab12b1a17d.bindPopup(popup_68299054068e07191a41b439a112d87a)
        ;

        
    
    
            var marker_bddde2bab5d4ee9913e1fed6486c7df0 = L.marker(
                [42.43547, 19.2778],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_d8e9700c931faa972513550df82bf158 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_bddde2bab5d4ee9913e1fed6486c7df0.setIcon(icon_d8e9700c931faa972513550df82bf158);
        
    
        var popup_c96984200a55b5a35cc3138f1745f689 = L.popup({"maxWidth": "100%"});

        
            
                var html_acf4b99e19d96c9677809afe82dafd55 = $(`<div id="html_acf4b99e19d96c9677809afe82dafd55" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_c96984200a55b5a35cc3138f1745f689.setContent(html_acf4b99e19d96c9677809afe82dafd55);
            
        

        marker_bddde2bab5d4ee9913e1fed6486c7df0.bindPopup(popup_c96984200a55b5a35cc3138f1745f689)
        ;

        
    
    
            var marker_5aec7e5ce6d39a55a0f8ae91d10e0748 = L.marker(
                [42.44166, 19.26338],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_733e891ef8017129e6975bd082e0f6d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_5aec7e5ce6d39a55a0f8ae91d10e0748.setIcon(icon_733e891ef8017129e6975bd082e0f6d1);
        
    
        var popup_fa6beac32cf4f58eb3bd3193e43ad9a5 = L.popup({"maxWidth": "100%"});

        
            
                var html_319962ab76c5924ecb4108790912575c = $(`<div id="html_319962ab76c5924ecb4108790912575c" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_fa6beac32cf4f58eb3bd3193e43ad9a5.setContent(html_319962ab76c5924ecb4108790912575c);
            
        

        marker_5aec7e5ce6d39a55a0f8ae91d10e0748.bindPopup(popup_fa6beac32cf4f58eb3bd3193e43ad9a5)
        ;

        
    
    
            var marker_59ae7bd71a85363549e0f94c2c818e76 = L.marker(
                [42.44355, 19.25267],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_36077881b08b866b2f2373db38c0e3f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_59ae7bd71a85363549e0f94c2c818e76.setIcon(icon_36077881b08b866b2f2373db38c0e3f8);
        
    
        var popup_3e27dd90c12ee98124e80d66bdeef56b = L.popup({"maxWidth": "100%"});

        
            
                var html_02c74f1cab1538bf364d2ae4e70cab95 = $(`<div id="html_02c74f1cab1538bf364d2ae4e70cab95" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_3e27dd90c12ee98124e80d66bdeef56b.setContent(html_02c74f1cab1538bf364d2ae4e70cab95);
            
        

        marker_59ae7bd71a85363549e0f94c2c818e76.bindPopup(popup_3e27dd90c12ee98124e80d66bdeef56b)
        ;

        
    
    
            var marker_6e4162f83ec6a28fc7867f8ef88d1d91 = L.marker(
                [42.44159, 19.25163],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_5a9cb0ee9574a2e98a045d110b3d25c2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_6e4162f83ec6a28fc7867f8ef88d1d91.setIcon(icon_5a9cb0ee9574a2e98a045d110b3d25c2);
        
    
        var popup_5fc97baf1b3ec2cd5e82cd26c0c8fbd2 = L.popup({"maxWidth": "100%"});

        
            
                var html_587ba7cd8c866c1dffc8673751354462 = $(`<div id="html_587ba7cd8c866c1dffc8673751354462" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_5fc97baf1b3ec2cd5e82cd26c0c8fbd2.setContent(html_587ba7cd8c866c1dffc8673751354462);
            
        

        marker_6e4162f83ec6a28fc7867f8ef88d1d91.bindPopup(popup_5fc97baf1b3ec2cd5e82cd26c0c8fbd2)
        ;

        
    
    
            var marker_caffdb429c0bd7f84bddad194da152cc = L.marker(
                [42.45401, 19.26063],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_3afa9f143beb115db8c3e95653f06f24 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_caffdb429c0bd7f84bddad194da152cc.setIcon(icon_3afa9f143beb115db8c3e95653f06f24);
        
    
        var popup_ddfe73f47faecb3a4cc7228c37149cc4 = L.popup({"maxWidth": "100%"});

        
            
                var html_2cee805653e237bd600a65c0172ccdf7 = $(`<div id="html_2cee805653e237bd600a65c0172ccdf7" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_ddfe73f47faecb3a4cc7228c37149cc4.setContent(html_2cee805653e237bd600a65c0172ccdf7);
            
        

        marker_caffdb429c0bd7f84bddad194da152cc.bindPopup(popup_ddfe73f47faecb3a4cc7228c37149cc4)
        ;

        
    
    
            var marker_f19420ec296e9b6d7d08b63f4c6b9071 = L.marker(
                [42.44522, 19.25504],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_cbabe3ddebe2611add8f592ec9452137 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f19420ec296e9b6d7d08b63f4c6b9071.setIcon(icon_cbabe3ddebe2611add8f592ec9452137);
        
    
        var popup_78b0e8e1775ec7935ae6b3246963ddcc = L.popup({"maxWidth": "100%"});

        
            
                var html_61b09c8de27024bc6fb86c25553c3218 = $(`<div id="html_61b09c8de27024bc6fb86c25553c3218" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_78b0e8e1775ec7935ae6b3246963ddcc.setContent(html_61b09c8de27024bc6fb86c25553c3218);
            
        

        marker_f19420ec296e9b6d7d08b63f4c6b9071.bindPopup(popup_78b0e8e1775ec7935ae6b3246963ddcc)
        ;

        
    
    
            var marker_ed2beb080697458ba39181ed87a9b63c = L.marker(
                [42.45151, 19.23678],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_dd8d4bcc7c8125aaa02e10c76a3b2839 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ed2beb080697458ba39181ed87a9b63c.setIcon(icon_dd8d4bcc7c8125aaa02e10c76a3b2839);
        
    
        var popup_316cda68d75ce218da266507ff559816 = L.popup({"maxWidth": "100%"});

        
            
                var html_3a2acc7b60a08e58e1ac1d928b15d6f2 = $(`<div id="html_3a2acc7b60a08e58e1ac1d928b15d6f2" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_316cda68d75ce218da266507ff559816.setContent(html_3a2acc7b60a08e58e1ac1d928b15d6f2);
            
        

        marker_ed2beb080697458ba39181ed87a9b63c.bindPopup(popup_316cda68d75ce218da266507ff559816)
        ;

        
    
    
            var marker_9766a7ff41d3621618be8a33bbe614df = L.marker(
                [42.43805, 19.22601],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_a6032ab3dcd4de4c05a1ebcba2411133 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9766a7ff41d3621618be8a33bbe614df.setIcon(icon_a6032ab3dcd4de4c05a1ebcba2411133);
        
    
        var popup_20425ae4eb14c431dd2560b109b0937f = L.popup({"maxWidth": "100%"});

        
            
                var html_9be3c1a83eb83aef48afb48f745f4d9b = $(`<div id="html_9be3c1a83eb83aef48afb48f745f4d9b" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_20425ae4eb14c431dd2560b109b0937f.setContent(html_9be3c1a83eb83aef48afb48f745f4d9b);
            
        

        marker_9766a7ff41d3621618be8a33bbe614df.bindPopup(popup_20425ae4eb14c431dd2560b109b0937f)
        ;

        
    
    
            var marker_3ba480c9391ecf7d6d9479fc118cf693 = L.marker(
                [42.43059, 19.25742],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_bd830abb22ec94d2a528ba96c00aa3e8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3ba480c9391ecf7d6d9479fc118cf693.setIcon(icon_bd830abb22ec94d2a528ba96c00aa3e8);
        
    
        var popup_f557eaa5a2d48dc2452ae8350dceaf52 = L.popup({"maxWidth": "100%"});

        
            
                var html_0ef8715280a17f56cb89f06ae1a53580 = $(`<div id="html_0ef8715280a17f56cb89f06ae1a53580" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_f557eaa5a2d48dc2452ae8350dceaf52.setContent(html_0ef8715280a17f56cb89f06ae1a53580);
            
        

        marker_3ba480c9391ecf7d6d9479fc118cf693.bindPopup(popup_f557eaa5a2d48dc2452ae8350dceaf52)
        ;

        
    
    
            var marker_79d042b91f1637c4320e9445c7a8655c = L.marker(
                [42.43358, 19.26262],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_526dc4849ee65ae0f030c932a4fbffec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_79d042b91f1637c4320e9445c7a8655c.setIcon(icon_526dc4849ee65ae0f030c932a4fbffec);
        
    
        var popup_a0606f422b51436c5b891b80408beb70 = L.popup({"maxWidth": "100%"});

        
            
                var html_f0af9ae816f116dbefecd4493e218ef5 = $(`<div id="html_f0af9ae816f116dbefecd4493e218ef5" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_a0606f422b51436c5b891b80408beb70.setContent(html_f0af9ae816f116dbefecd4493e218ef5);
            
        

        marker_79d042b91f1637c4320e9445c7a8655c.bindPopup(popup_a0606f422b51436c5b891b80408beb70)
        ;

        
    
    
            var marker_0defcc472c686126482f83ea6afc1232 = L.marker(
                [42.43556, 19.28016],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_c4c117df804eee12437bc4e6b720b3ac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0defcc472c686126482f83ea6afc1232.setIcon(icon_c4c117df804eee12437bc4e6b720b3ac);
        
    
        var popup_026c0bacdd36e2abd93274a68a60467a = L.popup({"maxWidth": "100%"});

        
            
                var html_b055f4225cf66eb681292b565731a949 = $(`<div id="html_b055f4225cf66eb681292b565731a949" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_026c0bacdd36e2abd93274a68a60467a.setContent(html_b055f4225cf66eb681292b565731a949);
            
        

        marker_0defcc472c686126482f83ea6afc1232.bindPopup(popup_026c0bacdd36e2abd93274a68a60467a)
        ;

        
    
    
            var marker_49186ad313b43f42cc9b444f94627b4e = L.marker(
                [42.43782, 19.27726],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_7415189ff28117e52371095f0683ea85 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_49186ad313b43f42cc9b444f94627b4e.setIcon(icon_7415189ff28117e52371095f0683ea85);
        
    
        var popup_9116e3c711925b5344ba4ae6ad0de56e = L.popup({"maxWidth": "100%"});

        
            
                var html_a6791d3ec5512a042130b1c603e0148d = $(`<div id="html_a6791d3ec5512a042130b1c603e0148d" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_9116e3c711925b5344ba4ae6ad0de56e.setContent(html_a6791d3ec5512a042130b1c603e0148d);
            
        

        marker_49186ad313b43f42cc9b444f94627b4e.bindPopup(popup_9116e3c711925b5344ba4ae6ad0de56e)
        ;

        
    
    
            var marker_409c3e519eb722a38ba67e69ddb2c3b6 = L.marker(
                [42.44953, 19.25939],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_fac376a6ec6c67d6b267155764ea43ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_409c3e519eb722a38ba67e69ddb2c3b6.setIcon(icon_fac376a6ec6c67d6b267155764ea43ad);
        
    
        var popup_75ff157fc44888605526ca5d8232c663 = L.popup({"maxWidth": "100%"});

        
            
                var html_5e410099f205a54c2396c826d0bf665a = $(`<div id="html_5e410099f205a54c2396c826d0bf665a" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_75ff157fc44888605526ca5d8232c663.setContent(html_5e410099f205a54c2396c826d0bf665a);
            
        

        marker_409c3e519eb722a38ba67e69ddb2c3b6.bindPopup(popup_75ff157fc44888605526ca5d8232c663)
        ;

        
    
    
            var marker_039a73a5995b755b06d6349b26d49b6b = L.marker(
                [42.44769, 19.24537],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_7fa6178d65a90cf83284732e3091721e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_039a73a5995b755b06d6349b26d49b6b.setIcon(icon_7fa6178d65a90cf83284732e3091721e);
        
    
        var popup_a39ee307b3715ee9ad724232b6d9cdd1 = L.popup({"maxWidth": "100%"});

        
            
                var html_22605a80eb5be9508a0c016fd8419910 = $(`<div id="html_22605a80eb5be9508a0c016fd8419910" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_a39ee307b3715ee9ad724232b6d9cdd1.setContent(html_22605a80eb5be9508a0c016fd8419910);
            
        

        marker_039a73a5995b755b06d6349b26d49b6b.bindPopup(popup_a39ee307b3715ee9ad724232b6d9cdd1)
        ;

        
    
    
            var marker_8842c1633574dad5790ea06eb3970b86 = L.marker(
                [42.44712, 19.24267],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_3d6b281781aa78efe77e3e3a84a815b7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8842c1633574dad5790ea06eb3970b86.setIcon(icon_3d6b281781aa78efe77e3e3a84a815b7);
        
    
        var popup_329d58e5f1d960c38c8f005565f2febc = L.popup({"maxWidth": "100%"});

        
            
                var html_56aca4c387f3fa3f29c11a240172a037 = $(`<div id="html_56aca4c387f3fa3f29c11a240172a037" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_329d58e5f1d960c38c8f005565f2febc.setContent(html_56aca4c387f3fa3f29c11a240172a037);
            
        

        marker_8842c1633574dad5790ea06eb3970b86.bindPopup(popup_329d58e5f1d960c38c8f005565f2febc)
        ;

        
    
    
            var marker_fd3371e8277f3d2ec9396920e0301ca5 = L.marker(
                [42.44924, 19.23057],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_75089aa54cb36d134cb23296e7aa7e8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_fd3371e8277f3d2ec9396920e0301ca5.setIcon(icon_75089aa54cb36d134cb23296e7aa7e8c);
        
    
        var popup_bc4193c08a344021bd741e87294064a2 = L.popup({"maxWidth": "100%"});

        
            
                var html_2e120e8cf3e410a078601e3c7ab1516f = $(`<div id="html_2e120e8cf3e410a078601e3c7ab1516f" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_bc4193c08a344021bd741e87294064a2.setContent(html_2e120e8cf3e410a078601e3c7ab1516f);
            
        

        marker_fd3371e8277f3d2ec9396920e0301ca5.bindPopup(popup_bc4193c08a344021bd741e87294064a2)
        ;

        
    
    
            var marker_c63a972773d0af5fd9584039ec211ffb = L.marker(
                [42.43778, 19.2321],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_9ec635d23a86c2d16a8592e52010e79f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c63a972773d0af5fd9584039ec211ffb.setIcon(icon_9ec635d23a86c2d16a8592e52010e79f);
        
    
        var popup_1788c37c7138e0a307169279638217de = L.popup({"maxWidth": "100%"});

        
            
                var html_dc5017ffe15a970c0221345dc7d3e90a = $(`<div id="html_dc5017ffe15a970c0221345dc7d3e90a" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_1788c37c7138e0a307169279638217de.setContent(html_dc5017ffe15a970c0221345dc7d3e90a);
            
        

        marker_c63a972773d0af5fd9584039ec211ffb.bindPopup(popup_1788c37c7138e0a307169279638217de)
        ;

        
    
    
            var marker_6e72215ae7d0ebb417e1877033377f09 = L.marker(
                [42.42913, 19.27182],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_09323ff128ec747bcd17db3e778a0a74 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6e72215ae7d0ebb417e1877033377f09.setIcon(icon_09323ff128ec747bcd17db3e778a0a74);
        
    
        var popup_fd84bbba63cf992d0ed8abcd006dfb13 = L.popup({"maxWidth": "100%"});

        
            
                var html_cb9187c8b26ac92bf6a493d0ba280357 = $(`<div id="html_cb9187c8b26ac92bf6a493d0ba280357" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_fd84bbba63cf992d0ed8abcd006dfb13.setContent(html_cb9187c8b26ac92bf6a493d0ba280357);
            
        

        marker_6e72215ae7d0ebb417e1877033377f09.bindPopup(popup_fd84bbba63cf992d0ed8abcd006dfb13)
        ;

        
    
    
            var marker_1f1e87fa118cf1c730adf82d0a376e83 = L.marker(
                [42.44252, 19.27376],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_11690b4e8b72237ae37f6f9ac29234e9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_1f1e87fa118cf1c730adf82d0a376e83.setIcon(icon_11690b4e8b72237ae37f6f9ac29234e9);
        
    
        var popup_47455e073da15f50da91e097733e8614 = L.popup({"maxWidth": "100%"});

        
            
                var html_3267d3857178d88e44bc473e38a15bfc = $(`<div id="html_3267d3857178d88e44bc473e38a15bfc" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_47455e073da15f50da91e097733e8614.setContent(html_3267d3857178d88e44bc473e38a15bfc);
            
        

        marker_1f1e87fa118cf1c730adf82d0a376e83.bindPopup(popup_47455e073da15f50da91e097733e8614)
        ;

        
    
    
            var marker_e3076af65f83b76fc02b68dcb27ac9cc = L.marker(
                [42.4443, 19.25227],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_598b36a007d6384d0269a60ff75b830b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_e3076af65f83b76fc02b68dcb27ac9cc.setIcon(icon_598b36a007d6384d0269a60ff75b830b);
        
    
        var popup_823302c2e21667b2d4b93f41f75633c8 = L.popup({"maxWidth": "100%"});

        
            
                var html_82d08c401e3a8504524f52ed0689eb46 = $(`<div id="html_82d08c401e3a8504524f52ed0689eb46" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_823302c2e21667b2d4b93f41f75633c8.setContent(html_82d08c401e3a8504524f52ed0689eb46);
            
        

        marker_e3076af65f83b76fc02b68dcb27ac9cc.bindPopup(popup_823302c2e21667b2d4b93f41f75633c8)
        ;

        
    
    
            var marker_00b31359d2a9632ce17973ac6f14516a = L.marker(
                [42.4421, 19.24817],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_077fce0fccef1a55f622c26dbe1d1e15 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_00b31359d2a9632ce17973ac6f14516a.setIcon(icon_077fce0fccef1a55f622c26dbe1d1e15);
        
    
        var popup_ee174912942c56f243f0964e80c9026d = L.popup({"maxWidth": "100%"});

        
            
                var html_9b5c9eb55a0c89019fcdab510e57b5fa = $(`<div id="html_9b5c9eb55a0c89019fcdab510e57b5fa" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_ee174912942c56f243f0964e80c9026d.setContent(html_9b5c9eb55a0c89019fcdab510e57b5fa);
            
        

        marker_00b31359d2a9632ce17973ac6f14516a.bindPopup(popup_ee174912942c56f243f0964e80c9026d)
        ;

        
    
    
            var marker_a7b237793fbeaec862ed6c87111132bb = L.marker(
                [42.44128, 19.2529],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_7315f49083d1355925d2fb17ab69801a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a7b237793fbeaec862ed6c87111132bb.setIcon(icon_7315f49083d1355925d2fb17ab69801a);
        
    
        var popup_33faee4968271de8fa033a100239d60c = L.popup({"maxWidth": "100%"});

        
            
                var html_4456ace25829432b7bc03e15f67b7e3f = $(`<div id="html_4456ace25829432b7bc03e15f67b7e3f" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_33faee4968271de8fa033a100239d60c.setContent(html_4456ace25829432b7bc03e15f67b7e3f);
            
        

        marker_a7b237793fbeaec862ed6c87111132bb.bindPopup(popup_33faee4968271de8fa033a100239d60c)
        ;

        
    
    
            var marker_234faca51b1a31ba7aa515ab4373a311 = L.marker(
                [42.44042, 19.26387],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_9423f062d6824939ca35a221c7a25a50 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_234faca51b1a31ba7aa515ab4373a311.setIcon(icon_9423f062d6824939ca35a221c7a25a50);
        
    
        var popup_cd5c0a070f86af696f5896b4444a8a76 = L.popup({"maxWidth": "100%"});

        
            
                var html_bbff35af743013e59c242a3fb852b1e1 = $(`<div id="html_bbff35af743013e59c242a3fb852b1e1" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_cd5c0a070f86af696f5896b4444a8a76.setContent(html_bbff35af743013e59c242a3fb852b1e1);
            
        

        marker_234faca51b1a31ba7aa515ab4373a311.bindPopup(popup_cd5c0a070f86af696f5896b4444a8a76)
        ;

        
    
    
            var marker_3a88dd2abafc3ac74b58a9305e1de51a = L.marker(
                [42.43491, 19.26032],
                {}
            ).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
        
    
            var icon_0d99d94dc6433a4a7cc7a5130e1238f4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3a88dd2abafc3ac74b58a9305e1de51a.setIcon(icon_0d99d94dc6433a4a7cc7a5130e1238f4);
        
    
        var popup_6805f9d3c9c1f203712c72cb8b751749 = L.popup({"maxWidth": "100%"});

        
            
                var html_b61ce7722e488ef42f86b13cbbbf63be = $(`<div id="html_b61ce7722e488ef42f86b13cbbbf63be" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_6805f9d3c9c1f203712c72cb8b751749.setContent(html_b61ce7722e488ef42f86b13cbbbf63be);
            
        

        marker_3a88dd2abafc3ac74b58a9305e1de51a.bindPopup(popup_6805f9d3c9c1f203712c72cb8b751749)
        ;

        
    
    
                function getLatLng(e){
                    var lat = e.latlng.lat.toFixed(6),
                        lng = e.latlng.lng.toFixed(6);
                    var txt = lat + "," + lng;
                    navigator.clipboard.writeText(txt);
                    alert("Copied to clipboard : \n    " + txt);
                    };
                map_79fe50e0dbd94193eb4044a0b43c8bf5.on('click', getLatLng);
            
    
                var lat_lng_popup_b6398fd72ba4887ff2e7879188324aaa = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_b6398fd72ba4887ff2e7879188324aaa
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_79fe50e0dbd94193eb4044a0b43c8bf5);
                    }
                map_79fe50e0dbd94193eb4044a0b43c8bf5.on('click', latLngPop);
            
    
                function newMarker(e){
                    var new_mark = L.marker().setLatLng(e.latlng).addTo(map_79fe50e0dbd94193eb4044a0b43c8bf5);
                    new_mark.dragging.enable();
                    new_mark.on('dblclick', function(e){ map_79fe50e0dbd94193eb4044a0b43c8bf5.removeLayer(e.target)})
                    var lat = e.latlng.lat.toFixed(4),
                       lng = e.latlng.lng.toFixed(4);
                    new_mark.bindPopup("Latitude: " + lat + "<br>Longitude: " + lng );
                    };
                map_79fe50e0dbd94193eb4044a0b43c8bf5.on('click', newMarker);
            
    
            var mouse_position_dbd7d7a7ffcfdd7cc8776b6a390241f0 = new L.Control.MousePosition(
                {"emptyString": "Unavailable", "lngFirst": false, "numDigits": 5, "position": "bottomright", "prefix": "", "separator": " : "}
            );
            mouse_position_dbd7d7a7ffcfdd7cc8776b6a390241f0.options["latFormatter"] =
                undefined;
            mouse_position_dbd7d7a7ffcfdd7cc8776b6a390241f0.options["lngFormatter"] =
                undefined;
            map_79fe50e0dbd94193eb4044a0b43c8bf5.addControl(mouse_position_dbd7d7a7ffcfdd7cc8776b6a390241f0);
        
</script>
</html>