<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_84b98f923b46061b987e3d0aab90304a {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_84b98f923b46061b987e3d0aab90304a" ></div>
        
</body>
<script>
    
    
            var map_84b98f923b46061b987e3d0aab90304a = L.map(
                "map_84b98f923b46061b987e3d0aab90304a",
                {
                    center: [42.44510285, 19.258387751564968],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5bdd3d591dbd3b2551324d778cc340b3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var marker_b250de324775e8577b6421dbdb04d518 = L.marker(
                [42.44743, 19.25001],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_2a98ad81077ed1c856f7fcb218ee427a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_b250de324775e8577b6421dbdb04d518.setIcon(icon_2a98ad81077ed1c856f7fcb218ee427a);
        
    
        var popup_009e7c71d7310fccbf4425d664a8a346 = L.popup({"maxWidth": "100%"});

        
            
                var html_175246481e448d4c3dcb863e32698901 = $(`<div id="html_175246481e448d4c3dcb863e32698901" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_009e7c71d7310fccbf4425d664a8a346.setContent(html_175246481e448d4c3dcb863e32698901);
            
        

        marker_b250de324775e8577b6421dbdb04d518.bindPopup(popup_009e7c71d7310fccbf4425d664a8a346)
        ;

        
    
    
            var marker_db9824952b84b852ca3f0882f71ece1a = L.marker(
                [42.45004, 19.23621],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_5963ea7472c1f90eb0fc747c72e1f401 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_db9824952b84b852ca3f0882f71ece1a.setIcon(icon_5963ea7472c1f90eb0fc747c72e1f401);
        
    
        var popup_718165dc36c21929e1188271ca51436d = L.popup({"maxWidth": "100%"});

        
            
                var html_926b3dba6d022140e75ec64feebdf4b6 = $(`<div id="html_926b3dba6d022140e75ec64feebdf4b6" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_718165dc36c21929e1188271ca51436d.setContent(html_926b3dba6d022140e75ec64feebdf4b6);
            
        

        marker_db9824952b84b852ca3f0882f71ece1a.bindPopup(popup_718165dc36c21929e1188271ca51436d)
        ;

        
    
    
            var marker_02e9dc2fdde1f080e8dfa35dc4b2660e = L.marker(
                [42.43793, 19.23752],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_23384126e1703481c7603e8d7cd5a7bc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_02e9dc2fdde1f080e8dfa35dc4b2660e.setIcon(icon_23384126e1703481c7603e8d7cd5a7bc);
        
    
        var popup_07305fa590cb2de107e98311ce3d9ca7 = L.popup({"maxWidth": "100%"});

        
            
                var html_74691482b665094b5fe9d56227ee6a01 = $(`<div id="html_74691482b665094b5fe9d56227ee6a01" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_07305fa590cb2de107e98311ce3d9ca7.setContent(html_74691482b665094b5fe9d56227ee6a01);
            
        

        marker_02e9dc2fdde1f080e8dfa35dc4b2660e.bindPopup(popup_07305fa590cb2de107e98311ce3d9ca7)
        ;

        
    
    
            var marker_f6e224b49e1b3fd2d5d5774bb77b11c1 = L.marker(
                [42.42672, 19.24672],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_ee48baa775549f1eb2dd76dd510990a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_f6e224b49e1b3fd2d5d5774bb77b11c1.setIcon(icon_ee48baa775549f1eb2dd76dd510990a5);
        
    
        var popup_3c29334bd148a81861ab2cce27813b7b = L.popup({"maxWidth": "100%"});

        
            
                var html_45e18ff2ab014d15fcabaf09732cb8d8 = $(`<div id="html_45e18ff2ab014d15fcabaf09732cb8d8" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_3c29334bd148a81861ab2cce27813b7b.setContent(html_45e18ff2ab014d15fcabaf09732cb8d8);
            
        

        marker_f6e224b49e1b3fd2d5d5774bb77b11c1.bindPopup(popup_3c29334bd148a81861ab2cce27813b7b)
        ;

        
    
    
            var marker_57a428e5ab9de027783b9645d919b973 = L.marker(
                [42.42758, 19.25225],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_ed9d602c450dc81cefa9940c6ba66156 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_57a428e5ab9de027783b9645d919b973.setIcon(icon_ed9d602c450dc81cefa9940c6ba66156);
        
    
        var popup_ee045270dfc1305383fd2c721a261df8 = L.popup({"maxWidth": "100%"});

        
            
                var html_f9f814530f22d60e493d642a455a686c = $(`<div id="html_f9f814530f22d60e493d642a455a686c" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_ee045270dfc1305383fd2c721a261df8.setContent(html_f9f814530f22d60e493d642a455a686c);
            
        

        marker_57a428e5ab9de027783b9645d919b973.bindPopup(popup_ee045270dfc1305383fd2c721a261df8)
        ;

        
    
    
            var marker_019b356d4d3bcc3a187bea8387590fa2 = L.marker(
                [42.42815, 19.27409],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_6c97cfa9805a2e12e86627acbf071be3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_019b356d4d3bcc3a187bea8387590fa2.setIcon(icon_6c97cfa9805a2e12e86627acbf071be3);
        
    
        var popup_4c290c905005a861d5366bc0cf666eb4 = L.popup({"maxWidth": "100%"});

        
            
                var html_ffa0ddec2e7ed82397ae9d77bba9e89d = $(`<div id="html_ffa0ddec2e7ed82397ae9d77bba9e89d" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_4c290c905005a861d5366bc0cf666eb4.setContent(html_ffa0ddec2e7ed82397ae9d77bba9e89d);
            
        

        marker_019b356d4d3bcc3a187bea8387590fa2.bindPopup(popup_4c290c905005a861d5366bc0cf666eb4)
        ;

        
    
    
            var marker_92be642081a9d7390437d53d07a78eb1 = L.marker(
                [42.43395, 19.28076],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_2e3bdc0677dbbbae985f713e7452c513 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_92be642081a9d7390437d53d07a78eb1.setIcon(icon_2e3bdc0677dbbbae985f713e7452c513);
        
    
        var popup_7965d663dce46ebb57cfe47eff46948b = L.popup({"maxWidth": "100%"});

        
            
                var html_388c5c816057a07a758499fb0b7e44a3 = $(`<div id="html_388c5c816057a07a758499fb0b7e44a3" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_7965d663dce46ebb57cfe47eff46948b.setContent(html_388c5c816057a07a758499fb0b7e44a3);
            
        

        marker_92be642081a9d7390437d53d07a78eb1.bindPopup(popup_7965d663dce46ebb57cfe47eff46948b)
        ;

        
    
    
            var marker_1b65f8c27e45c350286b1cc235c2c90d = L.marker(
                [42.43547, 19.2778],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_fc0c9f7424f2f150e1ad06631b8e3888 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_1b65f8c27e45c350286b1cc235c2c90d.setIcon(icon_fc0c9f7424f2f150e1ad06631b8e3888);
        
    
        var popup_73d60d4ac79f71972e0a18e1ba466a11 = L.popup({"maxWidth": "100%"});

        
            
                var html_cf8aa857fabf59a015489f8a8d965659 = $(`<div id="html_cf8aa857fabf59a015489f8a8d965659" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_73d60d4ac79f71972e0a18e1ba466a11.setContent(html_cf8aa857fabf59a015489f8a8d965659);
            
        

        marker_1b65f8c27e45c350286b1cc235c2c90d.bindPopup(popup_73d60d4ac79f71972e0a18e1ba466a11)
        ;

        
    
    
            var marker_9ed8207abb69d3524d8e4f3c45fedcf9 = L.marker(
                [42.44166, 19.26338],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_8b5a3a34cc46d57d3a6f5e5e34fcf9f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_9ed8207abb69d3524d8e4f3c45fedcf9.setIcon(icon_8b5a3a34cc46d57d3a6f5e5e34fcf9f8);
        
    
        var popup_07771b5ed1f1f4eec2fbf442defd2847 = L.popup({"maxWidth": "100%"});

        
            
                var html_3b071023585c61d38c7b55e2828237d0 = $(`<div id="html_3b071023585c61d38c7b55e2828237d0" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_07771b5ed1f1f4eec2fbf442defd2847.setContent(html_3b071023585c61d38c7b55e2828237d0);
            
        

        marker_9ed8207abb69d3524d8e4f3c45fedcf9.bindPopup(popup_07771b5ed1f1f4eec2fbf442defd2847)
        ;

        
    
    
            var marker_095825466dfcabb78196e9651a5c1e19 = L.marker(
                [42.44355, 19.25267],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_cc24ecfeba7bc20e1ed60df8dcf1927f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_095825466dfcabb78196e9651a5c1e19.setIcon(icon_cc24ecfeba7bc20e1ed60df8dcf1927f);
        
    
        var popup_563841465a4e9b05a7f972a34e6b8836 = L.popup({"maxWidth": "100%"});

        
            
                var html_4de261fac259feacaaaf029a63e50d94 = $(`<div id="html_4de261fac259feacaaaf029a63e50d94" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_563841465a4e9b05a7f972a34e6b8836.setContent(html_4de261fac259feacaaaf029a63e50d94);
            
        

        marker_095825466dfcabb78196e9651a5c1e19.bindPopup(popup_563841465a4e9b05a7f972a34e6b8836)
        ;

        
    
    
            var marker_764b85bc7405fc5531901fc170a3c30e = L.marker(
                [42.44159, 19.25163],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_26f45020693eb9e0727c8fe6bddc2541 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_764b85bc7405fc5531901fc170a3c30e.setIcon(icon_26f45020693eb9e0727c8fe6bddc2541);
        
    
        var popup_4e895dd6112b7aa7033c8448b7913445 = L.popup({"maxWidth": "100%"});

        
            
                var html_0c27bbd78dfac32f2caeebe775055841 = $(`<div id="html_0c27bbd78dfac32f2caeebe775055841" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_4e895dd6112b7aa7033c8448b7913445.setContent(html_0c27bbd78dfac32f2caeebe775055841);
            
        

        marker_764b85bc7405fc5531901fc170a3c30e.bindPopup(popup_4e895dd6112b7aa7033c8448b7913445)
        ;

        
    
    
            var marker_5281b7048a509e2a7fe42c17a257b097 = L.marker(
                [42.45401, 19.26063],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_4bd8cbfa5c0e54de5edc7adb45495f24 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5281b7048a509e2a7fe42c17a257b097.setIcon(icon_4bd8cbfa5c0e54de5edc7adb45495f24);
        
    
        var popup_641227f6dccffe3f2276e8caee12039e = L.popup({"maxWidth": "100%"});

        
            
                var html_95e61b39218dcbff575d5ed884b231c4 = $(`<div id="html_95e61b39218dcbff575d5ed884b231c4" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_641227f6dccffe3f2276e8caee12039e.setContent(html_95e61b39218dcbff575d5ed884b231c4);
            
        

        marker_5281b7048a509e2a7fe42c17a257b097.bindPopup(popup_641227f6dccffe3f2276e8caee12039e)
        ;

        
    
    
            var marker_c3da00b6bb529ba661a4f003f608a70f = L.marker(
                [42.44522, 19.25504],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_7205b9d14c10190e3dedf6a5226cc7f6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c3da00b6bb529ba661a4f003f608a70f.setIcon(icon_7205b9d14c10190e3dedf6a5226cc7f6);
        
    
        var popup_f33d16b0fd3e8b8dd91a208f730ef1e1 = L.popup({"maxWidth": "100%"});

        
            
                var html_497a9e3092647d67616b9120a43bd19c = $(`<div id="html_497a9e3092647d67616b9120a43bd19c" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_f33d16b0fd3e8b8dd91a208f730ef1e1.setContent(html_497a9e3092647d67616b9120a43bd19c);
            
        

        marker_c3da00b6bb529ba661a4f003f608a70f.bindPopup(popup_f33d16b0fd3e8b8dd91a208f730ef1e1)
        ;

        
    
    
            var marker_12bae2ff230a56ba4dd40a3e4b3c7eda = L.marker(
                [42.45151, 19.23678],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_324a7eea646a8b27915283479a11155b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_12bae2ff230a56ba4dd40a3e4b3c7eda.setIcon(icon_324a7eea646a8b27915283479a11155b);
        
    
        var popup_4ecb9b3808e0b7f3a89766e82f989f43 = L.popup({"maxWidth": "100%"});

        
            
                var html_540c6dea76f6cf7b335489af19e28a34 = $(`<div id="html_540c6dea76f6cf7b335489af19e28a34" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_4ecb9b3808e0b7f3a89766e82f989f43.setContent(html_540c6dea76f6cf7b335489af19e28a34);
            
        

        marker_12bae2ff230a56ba4dd40a3e4b3c7eda.bindPopup(popup_4ecb9b3808e0b7f3a89766e82f989f43)
        ;

        
    
    
            var marker_b42ef4553bf72741c9e6a4dbcce45757 = L.marker(
                [42.43805, 19.22601],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_a3c21ddc17f2c45fd4620219fcd44640 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b42ef4553bf72741c9e6a4dbcce45757.setIcon(icon_a3c21ddc17f2c45fd4620219fcd44640);
        
    
        var popup_440f143e6bcafd49e1ce2c145eb2f35b = L.popup({"maxWidth": "100%"});

        
            
                var html_cddfd570da15f36f3f1e18868dcb9193 = $(`<div id="html_cddfd570da15f36f3f1e18868dcb9193" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_440f143e6bcafd49e1ce2c145eb2f35b.setContent(html_cddfd570da15f36f3f1e18868dcb9193);
            
        

        marker_b42ef4553bf72741c9e6a4dbcce45757.bindPopup(popup_440f143e6bcafd49e1ce2c145eb2f35b)
        ;

        
    
    
            var marker_45d617fca7a9a26df7fc3723d43a83c9 = L.marker(
                [42.43059, 19.25742],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_0b4dddb4f7b1e7f730a422139f8358f8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_45d617fca7a9a26df7fc3723d43a83c9.setIcon(icon_0b4dddb4f7b1e7f730a422139f8358f8);
        
    
        var popup_a0b37c4de2562ea43bed95952073ac0c = L.popup({"maxWidth": "100%"});

        
            
                var html_85bdac602a7ba2489e63616fc5262626 = $(`<div id="html_85bdac602a7ba2489e63616fc5262626" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_a0b37c4de2562ea43bed95952073ac0c.setContent(html_85bdac602a7ba2489e63616fc5262626);
            
        

        marker_45d617fca7a9a26df7fc3723d43a83c9.bindPopup(popup_a0b37c4de2562ea43bed95952073ac0c)
        ;

        
    
    
            var marker_a9d747246c3c6b6c9b94bac00b3a008f = L.marker(
                [42.43358, 19.26262],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_6606d01622bd96e8bd064ceb0a025aa6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a9d747246c3c6b6c9b94bac00b3a008f.setIcon(icon_6606d01622bd96e8bd064ceb0a025aa6);
        
    
        var popup_6ef5885861f74c33851995132d5b2f57 = L.popup({"maxWidth": "100%"});

        
            
                var html_e3c14c2ea9ed18d770873cfee8169f85 = $(`<div id="html_e3c14c2ea9ed18d770873cfee8169f85" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_6ef5885861f74c33851995132d5b2f57.setContent(html_e3c14c2ea9ed18d770873cfee8169f85);
            
        

        marker_a9d747246c3c6b6c9b94bac00b3a008f.bindPopup(popup_6ef5885861f74c33851995132d5b2f57)
        ;

        
    
    
            var marker_f97f9fab8b00fa61430526cfaeddae07 = L.marker(
                [42.43556, 19.28016],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_c134cb5cdbf8c469aec425c4c9b25850 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f97f9fab8b00fa61430526cfaeddae07.setIcon(icon_c134cb5cdbf8c469aec425c4c9b25850);
        
    
        var popup_e30387c28fa12c66646094455b29414b = L.popup({"maxWidth": "100%"});

        
            
                var html_b6dd024ca01ccb0daa21923a0fea409e = $(`<div id="html_b6dd024ca01ccb0daa21923a0fea409e" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_e30387c28fa12c66646094455b29414b.setContent(html_b6dd024ca01ccb0daa21923a0fea409e);
            
        

        marker_f97f9fab8b00fa61430526cfaeddae07.bindPopup(popup_e30387c28fa12c66646094455b29414b)
        ;

        
    
    
            var marker_6b1f6ad0e9f284c7863e47be9b5a68c0 = L.marker(
                [42.43782, 19.27726],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_a49b87adec6dbb8e2e563ad7d07dd1f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6b1f6ad0e9f284c7863e47be9b5a68c0.setIcon(icon_a49b87adec6dbb8e2e563ad7d07dd1f1);
        
    
        var popup_d61b52276b18e559b568697fe7cc294f = L.popup({"maxWidth": "100%"});

        
            
                var html_f64ba41cd562874d613a5eb28a6419d7 = $(`<div id="html_f64ba41cd562874d613a5eb28a6419d7" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_d61b52276b18e559b568697fe7cc294f.setContent(html_f64ba41cd562874d613a5eb28a6419d7);
            
        

        marker_6b1f6ad0e9f284c7863e47be9b5a68c0.bindPopup(popup_d61b52276b18e559b568697fe7cc294f)
        ;

        
    
    
            var marker_9888e18a6329fa7bf8a5317f5ab56341 = L.marker(
                [42.44953, 19.25939],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_da1ff1df05bfd5b17800234b5a14a725 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9888e18a6329fa7bf8a5317f5ab56341.setIcon(icon_da1ff1df05bfd5b17800234b5a14a725);
        
    
        var popup_48f7622768882db4475214c660162c42 = L.popup({"maxWidth": "100%"});

        
            
                var html_c2f021ac60c4ce1f1e98e2d423d83e69 = $(`<div id="html_c2f021ac60c4ce1f1e98e2d423d83e69" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_48f7622768882db4475214c660162c42.setContent(html_c2f021ac60c4ce1f1e98e2d423d83e69);
            
        

        marker_9888e18a6329fa7bf8a5317f5ab56341.bindPopup(popup_48f7622768882db4475214c660162c42)
        ;

        
    
    
            var marker_4e70dd32e31bdf7640602906d52dc2b5 = L.marker(
                [42.44769, 19.24537],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_a9a3129986589b9ce55567459691e43a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4e70dd32e31bdf7640602906d52dc2b5.setIcon(icon_a9a3129986589b9ce55567459691e43a);
        
    
        var popup_0d02ed571c310c5b317f87f81c56cbea = L.popup({"maxWidth": "100%"});

        
            
                var html_3a032e906659b51851c4245ddbe8578d = $(`<div id="html_3a032e906659b51851c4245ddbe8578d" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_0d02ed571c310c5b317f87f81c56cbea.setContent(html_3a032e906659b51851c4245ddbe8578d);
            
        

        marker_4e70dd32e31bdf7640602906d52dc2b5.bindPopup(popup_0d02ed571c310c5b317f87f81c56cbea)
        ;

        
    
    
            var marker_d96c40224dbaa9c9ccf8564e8214af74 = L.marker(
                [42.44712, 19.24267],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_9519687b32aefb5b97fafb2f366414e2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d96c40224dbaa9c9ccf8564e8214af74.setIcon(icon_9519687b32aefb5b97fafb2f366414e2);
        
    
        var popup_50642300dcb1fb2ba9697116781b1342 = L.popup({"maxWidth": "100%"});

        
            
                var html_2bc0b37d4302e8e6e66d577d1dadc2c6 = $(`<div id="html_2bc0b37d4302e8e6e66d577d1dadc2c6" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_50642300dcb1fb2ba9697116781b1342.setContent(html_2bc0b37d4302e8e6e66d577d1dadc2c6);
            
        

        marker_d96c40224dbaa9c9ccf8564e8214af74.bindPopup(popup_50642300dcb1fb2ba9697116781b1342)
        ;

        
    
    
            var marker_7efa3228ad1613142085a0a4f122a3fd = L.marker(
                [42.44924, 19.23057],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_98f8551080ec9ff3a48277c14c5d2f1f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7efa3228ad1613142085a0a4f122a3fd.setIcon(icon_98f8551080ec9ff3a48277c14c5d2f1f);
        
    
        var popup_f9f44113d66b1a49fe5eab17aca13bad = L.popup({"maxWidth": "100%"});

        
            
                var html_155c2c4dc4e4987dca63f979cfac408a = $(`<div id="html_155c2c4dc4e4987dca63f979cfac408a" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_f9f44113d66b1a49fe5eab17aca13bad.setContent(html_155c2c4dc4e4987dca63f979cfac408a);
            
        

        marker_7efa3228ad1613142085a0a4f122a3fd.bindPopup(popup_f9f44113d66b1a49fe5eab17aca13bad)
        ;

        
    
    
            var marker_3d382c0d5c45c6b70a9c4f23617cdf24 = L.marker(
                [42.43778, 19.2321],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_5f0f348f2cd55a3838798f79293d5dbf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3d382c0d5c45c6b70a9c4f23617cdf24.setIcon(icon_5f0f348f2cd55a3838798f79293d5dbf);
        
    
        var popup_07a454f00cca22d2b53e215a05492ad1 = L.popup({"maxWidth": "100%"});

        
            
                var html_63f384ea0a8a83eea98e1eb46f3a8d29 = $(`<div id="html_63f384ea0a8a83eea98e1eb46f3a8d29" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_07a454f00cca22d2b53e215a05492ad1.setContent(html_63f384ea0a8a83eea98e1eb46f3a8d29);
            
        

        marker_3d382c0d5c45c6b70a9c4f23617cdf24.bindPopup(popup_07a454f00cca22d2b53e215a05492ad1)
        ;

        
    
    
            var marker_494c49f5bd0bba74f4991d7e808a7c4a = L.marker(
                [42.42913, 19.27182],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_35d818d1498159054adae0bb16473a78 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_494c49f5bd0bba74f4991d7e808a7c4a.setIcon(icon_35d818d1498159054adae0bb16473a78);
        
    
        var popup_cb0809e9265f62e2361259bea138a4ab = L.popup({"maxWidth": "100%"});

        
            
                var html_840641856223fe97dae13600bd702a2e = $(`<div id="html_840641856223fe97dae13600bd702a2e" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_cb0809e9265f62e2361259bea138a4ab.setContent(html_840641856223fe97dae13600bd702a2e);
            
        

        marker_494c49f5bd0bba74f4991d7e808a7c4a.bindPopup(popup_cb0809e9265f62e2361259bea138a4ab)
        ;

        
    
    
            var marker_888f0998c45180862cd3e75891ecfbc8 = L.marker(
                [42.44252, 19.27376],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_81d7f3dc9d0e825521a8ddac3b78b2a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_888f0998c45180862cd3e75891ecfbc8.setIcon(icon_81d7f3dc9d0e825521a8ddac3b78b2a5);
        
    
        var popup_f9b9bf59f108f73cd888f1d67d22fe96 = L.popup({"maxWidth": "100%"});

        
            
                var html_8ad85dbcf4f124f3ca224d3f4fff8eed = $(`<div id="html_8ad85dbcf4f124f3ca224d3f4fff8eed" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_f9b9bf59f108f73cd888f1d67d22fe96.setContent(html_8ad85dbcf4f124f3ca224d3f4fff8eed);
            
        

        marker_888f0998c45180862cd3e75891ecfbc8.bindPopup(popup_f9b9bf59f108f73cd888f1d67d22fe96)
        ;

        
    
    
            var marker_4b43bfe00d9a9b59ae5513692a48f9b8 = L.marker(
                [42.4443, 19.25227],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_26e6a5c07e46934b8be685b6e9b3d3ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_4b43bfe00d9a9b59ae5513692a48f9b8.setIcon(icon_26e6a5c07e46934b8be685b6e9b3d3ed);
        
    
        var popup_e9e5cc6b1afd13a1fde93ad4046dba72 = L.popup({"maxWidth": "100%"});

        
            
                var html_fa8612fe6943afc3b4d3b01eb349c9fa = $(`<div id="html_fa8612fe6943afc3b4d3b01eb349c9fa" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_e9e5cc6b1afd13a1fde93ad4046dba72.setContent(html_fa8612fe6943afc3b4d3b01eb349c9fa);
            
        

        marker_4b43bfe00d9a9b59ae5513692a48f9b8.bindPopup(popup_e9e5cc6b1afd13a1fde93ad4046dba72)
        ;

        
    
    
            var marker_ace445e071641815ce2ffc9f805f6cad = L.marker(
                [42.4421, 19.24817],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_7a69268fecc5f9c5551e7e576ff70356 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ace445e071641815ce2ffc9f805f6cad.setIcon(icon_7a69268fecc5f9c5551e7e576ff70356);
        
    
        var popup_62e15152af8a69437e0fe018efa6a627 = L.popup({"maxWidth": "100%"});

        
            
                var html_07496f4441a710f82b323f8fd833ec98 = $(`<div id="html_07496f4441a710f82b323f8fd833ec98" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_62e15152af8a69437e0fe018efa6a627.setContent(html_07496f4441a710f82b323f8fd833ec98);
            
        

        marker_ace445e071641815ce2ffc9f805f6cad.bindPopup(popup_62e15152af8a69437e0fe018efa6a627)
        ;

        
    
    
            var marker_597dc6d3760dad819700ee17ee3a7fe6 = L.marker(
                [42.44128, 19.2529],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_12e9f5269d33cde3fcdb8881ca540093 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_597dc6d3760dad819700ee17ee3a7fe6.setIcon(icon_12e9f5269d33cde3fcdb8881ca540093);
        
    
        var popup_ec94b0a93e3706a4653e16442828d5a3 = L.popup({"maxWidth": "100%"});

        
            
                var html_0e5959746d198391e7cba1b46c85a782 = $(`<div id="html_0e5959746d198391e7cba1b46c85a782" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_ec94b0a93e3706a4653e16442828d5a3.setContent(html_0e5959746d198391e7cba1b46c85a782);
            
        

        marker_597dc6d3760dad819700ee17ee3a7fe6.bindPopup(popup_ec94b0a93e3706a4653e16442828d5a3)
        ;

        
    
    
            var marker_7cefb67c6289bbc5f1d6982a3adf29c5 = L.marker(
                [42.44042, 19.26387],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_9f4e386f9383cb5f163bf6de8f118a0f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7cefb67c6289bbc5f1d6982a3adf29c5.setIcon(icon_9f4e386f9383cb5f163bf6de8f118a0f);
        
    
        var popup_2643ac0f8ab0437c62d82445de948927 = L.popup({"maxWidth": "100%"});

        
            
                var html_eb1d9564454ba9b12a8f23639093c628 = $(`<div id="html_eb1d9564454ba9b12a8f23639093c628" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_2643ac0f8ab0437c62d82445de948927.setContent(html_eb1d9564454ba9b12a8f23639093c628);
            
        

        marker_7cefb67c6289bbc5f1d6982a3adf29c5.bindPopup(popup_2643ac0f8ab0437c62d82445de948927)
        ;

        
    
    
            var marker_f1a0a7619c9a2ecc71be92cadf659bb3 = L.marker(
                [42.43491, 19.26032],
                {}
            ).addTo(map_84b98f923b46061b987e3d0aab90304a);
        
    
            var icon_ddfb456095cdedd3e7507c12dd176a22 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_f1a0a7619c9a2ecc71be92cadf659bb3.setIcon(icon_ddfb456095cdedd3e7507c12dd176a22);
        
    
        var popup_fffa3df1ec2d7f855a164f71f730bf1e = L.popup({"maxWidth": "100%"});

        
            
                var html_f98f1156db52d489b611691902a46fc8 = $(`<div id="html_f98f1156db52d489b611691902a46fc8" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_fffa3df1ec2d7f855a164f71f730bf1e.setContent(html_f98f1156db52d489b611691902a46fc8);
            
        

        marker_f1a0a7619c9a2ecc71be92cadf659bb3.bindPopup(popup_fffa3df1ec2d7f855a164f71f730bf1e)
        ;

        
    
    
                function getLatLng(e){
                    var lat = e.latlng.lat.toFixed(6),
                        lng = e.latlng.lng.toFixed(6);
                    var txt = lat + "," + lng;
                    navigator.clipboard.writeText(txt);
                    alert("Copied to clipboard : \n    " + txt);
                    };
                map_84b98f923b46061b987e3d0aab90304a.on('click', getLatLng);
            
    
                var lat_lng_popup_16e2aa442d4dc81c79db54250e75fade = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_16e2aa442d4dc81c79db54250e75fade
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_84b98f923b46061b987e3d0aab90304a);
                    }
                map_84b98f923b46061b987e3d0aab90304a.on('click', latLngPop);
            
    
                function newMarker(e){
                    var new_mark = L.marker().setLatLng(e.latlng).addTo(map_84b98f923b46061b987e3d0aab90304a);
                    new_mark.dragging.enable();
                    new_mark.on('dblclick', function(e){ map_84b98f923b46061b987e3d0aab90304a.removeLayer(e.target)})
                    var lat = e.latlng.lat.toFixed(4),
                       lng = e.latlng.lng.toFixed(4);
                    new_mark.bindPopup("Latitude: " + lat + "<br>Longitude: " + lng );
                    };
                map_84b98f923b46061b987e3d0aab90304a.on('click', newMarker);
            
    
            var mouse_position_61735d1c3441fbcb01940500b1891b32 = new L.Control.MousePosition(
                {"emptyString": "Unavailable", "lngFirst": false, "numDigits": 5, "position": "bottomright", "prefix": "", "separator": " : "}
            );
            mouse_position_61735d1c3441fbcb01940500b1891b32.options["latFormatter"] =
                undefined;
            mouse_position_61735d1c3441fbcb01940500b1891b32.options["lngFormatter"] =
                undefined;
            map_84b98f923b46061b987e3d0aab90304a.addControl(mouse_position_61735d1c3441fbcb01940500b1891b32);
        
</script>
</html>