<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_39160964e16c6bc3ad370b998ebfb286 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_39160964e16c6bc3ad370b998ebfb286" ></div>
        
</body>
<script>
    
    
            var map_39160964e16c6bc3ad370b998ebfb286 = L.map(
                "map_39160964e16c6bc3ad370b998ebfb286",
                {
                    center: [42.44510285, 19.258387751564968],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_983155daec1c51d4976ab6dbad3c4978 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var marker_e35c9fd74751d75b601633b4c9612e5d = L.marker(
                [42.44743, 19.25001],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_831a16e9a691cbf1267f935120c9fa79 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_e35c9fd74751d75b601633b4c9612e5d.setIcon(icon_831a16e9a691cbf1267f935120c9fa79);
        
    
        var popup_b85ae07aac609885cf380b2c7125f704 = L.popup({"maxWidth": "100%"});

        
            
                var html_a3bca239078f7d28c22dd04a72edc0de = $(`<div id="html_a3bca239078f7d28c22dd04a72edc0de" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_b85ae07aac609885cf380b2c7125f704.setContent(html_a3bca239078f7d28c22dd04a72edc0de);
            
        

        marker_e35c9fd74751d75b601633b4c9612e5d.bindPopup(popup_b85ae07aac609885cf380b2c7125f704)
        ;

        
    
    
            var marker_2f7931ac1ff92496999da7b51c160d96 = L.marker(
                [42.45004, 19.23621],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_1e26cad026c0dba44e01ea4f6e970575 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_2f7931ac1ff92496999da7b51c160d96.setIcon(icon_1e26cad026c0dba44e01ea4f6e970575);
        
    
        var popup_d16aba2d3f6d18fb0a75fad132dd29cf = L.popup({"maxWidth": "100%"});

        
            
                var html_d15824a0237e346bb4b9bb08723ed439 = $(`<div id="html_d15824a0237e346bb4b9bb08723ed439" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_d16aba2d3f6d18fb0a75fad132dd29cf.setContent(html_d15824a0237e346bb4b9bb08723ed439);
            
        

        marker_2f7931ac1ff92496999da7b51c160d96.bindPopup(popup_d16aba2d3f6d18fb0a75fad132dd29cf)
        ;

        
    
    
            var marker_21bb55a267685c1f5dd8c4461d90ba7a = L.marker(
                [42.43793, 19.23752],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_4d26eb3ded9a65eeea265a9f386e0768 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_21bb55a267685c1f5dd8c4461d90ba7a.setIcon(icon_4d26eb3ded9a65eeea265a9f386e0768);
        
    
        var popup_034b139388187611c3a57c3fd956e5a3 = L.popup({"maxWidth": "100%"});

        
            
                var html_eec547014d593755d2db53d6ac3766c2 = $(`<div id="html_eec547014d593755d2db53d6ac3766c2" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_034b139388187611c3a57c3fd956e5a3.setContent(html_eec547014d593755d2db53d6ac3766c2);
            
        

        marker_21bb55a267685c1f5dd8c4461d90ba7a.bindPopup(popup_034b139388187611c3a57c3fd956e5a3)
        ;

        
    
    
            var marker_738a1a60038f9061fdd9260947f91f8d = L.marker(
                [42.42672, 19.24672],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_270cfcd1dbfdf671d5348b1ebc7636fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_738a1a60038f9061fdd9260947f91f8d.setIcon(icon_270cfcd1dbfdf671d5348b1ebc7636fd);
        
    
        var popup_213ed6972dda3b3ef56ccdb63fbd0e53 = L.popup({"maxWidth": "100%"});

        
            
                var html_844d0743f5b09e40fa9bb4db67ca7b46 = $(`<div id="html_844d0743f5b09e40fa9bb4db67ca7b46" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_213ed6972dda3b3ef56ccdb63fbd0e53.setContent(html_844d0743f5b09e40fa9bb4db67ca7b46);
            
        

        marker_738a1a60038f9061fdd9260947f91f8d.bindPopup(popup_213ed6972dda3b3ef56ccdb63fbd0e53)
        ;

        
    
    
            var marker_9d72972c00d69398d356eb837a27bdad = L.marker(
                [42.42758, 19.25225],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_15e92904e4417abc7f1056c29ffb32fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_9d72972c00d69398d356eb837a27bdad.setIcon(icon_15e92904e4417abc7f1056c29ffb32fa);
        
    
        var popup_c7b0d50c795befbd450d4b6ee778858c = L.popup({"maxWidth": "100%"});

        
            
                var html_21acaa1263516bcf87eda84dae4710e8 = $(`<div id="html_21acaa1263516bcf87eda84dae4710e8" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_c7b0d50c795befbd450d4b6ee778858c.setContent(html_21acaa1263516bcf87eda84dae4710e8);
            
        

        marker_9d72972c00d69398d356eb837a27bdad.bindPopup(popup_c7b0d50c795befbd450d4b6ee778858c)
        ;

        
    
    
            var marker_7b3ac0039d66c32eb8a157612197e1af = L.marker(
                [42.42815, 19.27409],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_12056e7e0b12e0916540de7fe52425f7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_7b3ac0039d66c32eb8a157612197e1af.setIcon(icon_12056e7e0b12e0916540de7fe52425f7);
        
    
        var popup_1ab1495c2a5cf3679c58c32945f0fbb6 = L.popup({"maxWidth": "100%"});

        
            
                var html_53b77defa8948b7f20e92d1ce14b0a0c = $(`<div id="html_53b77defa8948b7f20e92d1ce14b0a0c" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_1ab1495c2a5cf3679c58c32945f0fbb6.setContent(html_53b77defa8948b7f20e92d1ce14b0a0c);
            
        

        marker_7b3ac0039d66c32eb8a157612197e1af.bindPopup(popup_1ab1495c2a5cf3679c58c32945f0fbb6)
        ;

        
    
    
            var marker_9635a63c31f987ff816e9badcc489a7c = L.marker(
                [42.43395, 19.28076],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_d0fc7a713f96ed39c491b294487b4d2f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_9635a63c31f987ff816e9badcc489a7c.setIcon(icon_d0fc7a713f96ed39c491b294487b4d2f);
        
    
        var popup_dc005fc11eae886859ed52333ef129fb = L.popup({"maxWidth": "100%"});

        
            
                var html_6909951059bdabeb9dff0b1402840789 = $(`<div id="html_6909951059bdabeb9dff0b1402840789" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_dc005fc11eae886859ed52333ef129fb.setContent(html_6909951059bdabeb9dff0b1402840789);
            
        

        marker_9635a63c31f987ff816e9badcc489a7c.bindPopup(popup_dc005fc11eae886859ed52333ef129fb)
        ;

        
    
    
            var marker_86a736a77aba8f01786427455befa72a = L.marker(
                [42.43547, 19.2778],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_361d7d273ae9e5c1a0a965740d740b8a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_86a736a77aba8f01786427455befa72a.setIcon(icon_361d7d273ae9e5c1a0a965740d740b8a);
        
    
        var popup_bac2b27633b0fe13e0b2d6f6ab5725a3 = L.popup({"maxWidth": "100%"});

        
            
                var html_3e0114596a3b336e074d137c43e43a19 = $(`<div id="html_3e0114596a3b336e074d137c43e43a19" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_bac2b27633b0fe13e0b2d6f6ab5725a3.setContent(html_3e0114596a3b336e074d137c43e43a19);
            
        

        marker_86a736a77aba8f01786427455befa72a.bindPopup(popup_bac2b27633b0fe13e0b2d6f6ab5725a3)
        ;

        
    
    
            var marker_28c847085f8ffdb0b54562c6ebbe2d98 = L.marker(
                [42.44166, 19.26338],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_70a0f26b26cc95bc35ecc68f88ad19b8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_28c847085f8ffdb0b54562c6ebbe2d98.setIcon(icon_70a0f26b26cc95bc35ecc68f88ad19b8);
        
    
        var popup_d8467cd761e51c5420c391a7f5ad6250 = L.popup({"maxWidth": "100%"});

        
            
                var html_6352b7d0e957aff0ef0c443e32bef42f = $(`<div id="html_6352b7d0e957aff0ef0c443e32bef42f" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_d8467cd761e51c5420c391a7f5ad6250.setContent(html_6352b7d0e957aff0ef0c443e32bef42f);
            
        

        marker_28c847085f8ffdb0b54562c6ebbe2d98.bindPopup(popup_d8467cd761e51c5420c391a7f5ad6250)
        ;

        
    
    
            var marker_fffa9c55da093f61209d066bbd9b4b75 = L.marker(
                [42.44355, 19.25267],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_ba9d278f92be11ec516fe32bfde5e8f0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_fffa9c55da093f61209d066bbd9b4b75.setIcon(icon_ba9d278f92be11ec516fe32bfde5e8f0);
        
    
        var popup_35e1c376bce68441be1c8e4f137e44cc = L.popup({"maxWidth": "100%"});

        
            
                var html_35ba46333d270b805d79f1d107db05d8 = $(`<div id="html_35ba46333d270b805d79f1d107db05d8" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_35e1c376bce68441be1c8e4f137e44cc.setContent(html_35ba46333d270b805d79f1d107db05d8);
            
        

        marker_fffa9c55da093f61209d066bbd9b4b75.bindPopup(popup_35e1c376bce68441be1c8e4f137e44cc)
        ;

        
    
    
            var marker_979235320b28e8f0921abd1b31b32cdd = L.marker(
                [42.44159, 19.25163],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_88830bdf604b8785a27313b960e93f4f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "orange", "prefix": "glyphicon"}
            );
            marker_979235320b28e8f0921abd1b31b32cdd.setIcon(icon_88830bdf604b8785a27313b960e93f4f);
        
    
        var popup_93ca7b16688571d82f87f93813799949 = L.popup({"maxWidth": "100%"});

        
            
                var html_d3029a1827ea81d2cb160258a8339966 = $(`<div id="html_d3029a1827ea81d2cb160258a8339966" style="width: 100.0%; height: 100.0%;">Aroma</div>`)[0];
                popup_93ca7b16688571d82f87f93813799949.setContent(html_d3029a1827ea81d2cb160258a8339966);
            
        

        marker_979235320b28e8f0921abd1b31b32cdd.bindPopup(popup_93ca7b16688571d82f87f93813799949)
        ;

        
    
    
            var marker_c1961056f05d037bcebf0db619233c76 = L.marker(
                [42.45401, 19.26063],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_3c93d83c85ab579edd8e819f9be98bed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c1961056f05d037bcebf0db619233c76.setIcon(icon_3c93d83c85ab579edd8e819f9be98bed);
        
    
        var popup_9acfcb7f9568d8e7bfb659691e208b6e = L.popup({"maxWidth": "100%"});

        
            
                var html_2622bfc0cd506cc1cd77d95719c2c5a0 = $(`<div id="html_2622bfc0cd506cc1cd77d95719c2c5a0" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_9acfcb7f9568d8e7bfb659691e208b6e.setContent(html_2622bfc0cd506cc1cd77d95719c2c5a0);
            
        

        marker_c1961056f05d037bcebf0db619233c76.bindPopup(popup_9acfcb7f9568d8e7bfb659691e208b6e)
        ;

        
    
    
            var marker_b1c0da0a51e81d769278463af16142d4 = L.marker(
                [42.44522, 19.25504],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_11a7ce8b287f3973c67a674d5b322eb0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b1c0da0a51e81d769278463af16142d4.setIcon(icon_11a7ce8b287f3973c67a674d5b322eb0);
        
    
        var popup_d2c856ba5699a9d941508878cf5d0fd3 = L.popup({"maxWidth": "100%"});

        
            
                var html_3b77934382482e4678cd9c0b3da082f9 = $(`<div id="html_3b77934382482e4678cd9c0b3da082f9" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_d2c856ba5699a9d941508878cf5d0fd3.setContent(html_3b77934382482e4678cd9c0b3da082f9);
            
        

        marker_b1c0da0a51e81d769278463af16142d4.bindPopup(popup_d2c856ba5699a9d941508878cf5d0fd3)
        ;

        
    
    
            var marker_5c96926fd3b7d6a717938415587865d5 = L.marker(
                [42.45151, 19.23678],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_51332a6c3de77478e2eedf256edddab7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5c96926fd3b7d6a717938415587865d5.setIcon(icon_51332a6c3de77478e2eedf256edddab7);
        
    
        var popup_be26c4edc85f14aad28e14ea342a3029 = L.popup({"maxWidth": "100%"});

        
            
                var html_1698bbe2370c49bd99d96efd8369f6cd = $(`<div id="html_1698bbe2370c49bd99d96efd8369f6cd" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_be26c4edc85f14aad28e14ea342a3029.setContent(html_1698bbe2370c49bd99d96efd8369f6cd);
            
        

        marker_5c96926fd3b7d6a717938415587865d5.bindPopup(popup_be26c4edc85f14aad28e14ea342a3029)
        ;

        
    
    
            var marker_811962cb3072a3201b6b6be2810fbe98 = L.marker(
                [42.43805, 19.22601],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_76a08e7c10327f6e2c8a55168ee52c23 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_811962cb3072a3201b6b6be2810fbe98.setIcon(icon_76a08e7c10327f6e2c8a55168ee52c23);
        
    
        var popup_5366dd54fdf2240a82cd56cc6832bc70 = L.popup({"maxWidth": "100%"});

        
            
                var html_b31c9f8d02479aecf27fc031eb0c04b0 = $(`<div id="html_b31c9f8d02479aecf27fc031eb0c04b0" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_5366dd54fdf2240a82cd56cc6832bc70.setContent(html_b31c9f8d02479aecf27fc031eb0c04b0);
            
        

        marker_811962cb3072a3201b6b6be2810fbe98.bindPopup(popup_5366dd54fdf2240a82cd56cc6832bc70)
        ;

        
    
    
            var marker_86b2e31a4e70a1fa324cf3a90aed020c = L.marker(
                [42.43059, 19.25742],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_ebbde87b32e6dccbdfd9b6e623cfc6f1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_86b2e31a4e70a1fa324cf3a90aed020c.setIcon(icon_ebbde87b32e6dccbdfd9b6e623cfc6f1);
        
    
        var popup_b35fe2ba528a6600bf0b4bf0f6bc89f2 = L.popup({"maxWidth": "100%"});

        
            
                var html_0e11d9cf0a09d8c33e06c59afe947f8c = $(`<div id="html_0e11d9cf0a09d8c33e06c59afe947f8c" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_b35fe2ba528a6600bf0b4bf0f6bc89f2.setContent(html_0e11d9cf0a09d8c33e06c59afe947f8c);
            
        

        marker_86b2e31a4e70a1fa324cf3a90aed020c.bindPopup(popup_b35fe2ba528a6600bf0b4bf0f6bc89f2)
        ;

        
    
    
            var marker_abe79079e74d23d4d462aa8e2491b7fd = L.marker(
                [42.43358, 19.26262],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_85ba2e71efd52c3cc743ae884965091d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_abe79079e74d23d4d462aa8e2491b7fd.setIcon(icon_85ba2e71efd52c3cc743ae884965091d);
        
    
        var popup_ba2d955c6d4d4fa769afb58b0234f538 = L.popup({"maxWidth": "100%"});

        
            
                var html_ac6630287bb9d8ee5ac93fd97c23cf0e = $(`<div id="html_ac6630287bb9d8ee5ac93fd97c23cf0e" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_ba2d955c6d4d4fa769afb58b0234f538.setContent(html_ac6630287bb9d8ee5ac93fd97c23cf0e);
            
        

        marker_abe79079e74d23d4d462aa8e2491b7fd.bindPopup(popup_ba2d955c6d4d4fa769afb58b0234f538)
        ;

        
    
    
            var marker_7462eea21580de0c39d981b53a518252 = L.marker(
                [42.43556, 19.28016],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_4ca9186fc90ce5344c86d3ff855102b1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7462eea21580de0c39d981b53a518252.setIcon(icon_4ca9186fc90ce5344c86d3ff855102b1);
        
    
        var popup_a229ed4f23345443685ee6cbe48a5280 = L.popup({"maxWidth": "100%"});

        
            
                var html_b8839fd7f8342158edeb07d7491d0822 = $(`<div id="html_b8839fd7f8342158edeb07d7491d0822" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_a229ed4f23345443685ee6cbe48a5280.setContent(html_b8839fd7f8342158edeb07d7491d0822);
            
        

        marker_7462eea21580de0c39d981b53a518252.bindPopup(popup_a229ed4f23345443685ee6cbe48a5280)
        ;

        
    
    
            var marker_7b2744ae7e549aca19c7fa4ed3e30495 = L.marker(
                [42.43782, 19.27726],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_f6858a1d892f471bd07f2bb2846dc48d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7b2744ae7e549aca19c7fa4ed3e30495.setIcon(icon_f6858a1d892f471bd07f2bb2846dc48d);
        
    
        var popup_3f1a03e9ff7774ece71b0362f1804d7b = L.popup({"maxWidth": "100%"});

        
            
                var html_8ee539002d74666e5e868b5e66840b38 = $(`<div id="html_8ee539002d74666e5e868b5e66840b38" style="width: 100.0%; height: 100.0%;">Franca</div>`)[0];
                popup_3f1a03e9ff7774ece71b0362f1804d7b.setContent(html_8ee539002d74666e5e868b5e66840b38);
            
        

        marker_7b2744ae7e549aca19c7fa4ed3e30495.bindPopup(popup_3f1a03e9ff7774ece71b0362f1804d7b)
        ;

        
    
    
            var marker_c51a7628520f42288a32e24ca5c078bb = L.marker(
                [42.44953, 19.25939],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_31b299dbba3c8c27fddbc120a794bbc2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_c51a7628520f42288a32e24ca5c078bb.setIcon(icon_31b299dbba3c8c27fddbc120a794bbc2);
        
    
        var popup_fd2ae99d94101cabbad3b9447b27f94e = L.popup({"maxWidth": "100%"});

        
            
                var html_a1287771501e5732b2d51ffeae15ce06 = $(`<div id="html_a1287771501e5732b2d51ffeae15ce06" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_fd2ae99d94101cabbad3b9447b27f94e.setContent(html_a1287771501e5732b2d51ffeae15ce06);
            
        

        marker_c51a7628520f42288a32e24ca5c078bb.bindPopup(popup_fd2ae99d94101cabbad3b9447b27f94e)
        ;

        
    
    
            var marker_b78cdbbeae19bb08b70d6bd2702e3693 = L.marker(
                [42.44769, 19.24537],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_870ba5871557458f6a9c7e6e0e7db07c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b78cdbbeae19bb08b70d6bd2702e3693.setIcon(icon_870ba5871557458f6a9c7e6e0e7db07c);
        
    
        var popup_ff2fecf32dd57a69971f235dd3af0e8f = L.popup({"maxWidth": "100%"});

        
            
                var html_db4497e30cd8c12359b9037320b5363c = $(`<div id="html_db4497e30cd8c12359b9037320b5363c" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_ff2fecf32dd57a69971f235dd3af0e8f.setContent(html_db4497e30cd8c12359b9037320b5363c);
            
        

        marker_b78cdbbeae19bb08b70d6bd2702e3693.bindPopup(popup_ff2fecf32dd57a69971f235dd3af0e8f)
        ;

        
    
    
            var marker_2653583c331b20a4b34adbb530b4777c = L.marker(
                [42.44712, 19.24267],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_e60509d250b11f2dcbb9ff3c34d7f29b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2653583c331b20a4b34adbb530b4777c.setIcon(icon_e60509d250b11f2dcbb9ff3c34d7f29b);
        
    
        var popup_d1240f6a51ca58350ee515249fb90c96 = L.popup({"maxWidth": "100%"});

        
            
                var html_0a59ddecaa0410e933458fddf6d87483 = $(`<div id="html_0a59ddecaa0410e933458fddf6d87483" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_d1240f6a51ca58350ee515249fb90c96.setContent(html_0a59ddecaa0410e933458fddf6d87483);
            
        

        marker_2653583c331b20a4b34adbb530b4777c.bindPopup(popup_d1240f6a51ca58350ee515249fb90c96)
        ;

        
    
    
            var marker_8c37e6d42bf3b4c1658f6de05d39dad9 = L.marker(
                [42.44924, 19.23057],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_892f238aa0e62d072f72fd57911af256 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8c37e6d42bf3b4c1658f6de05d39dad9.setIcon(icon_892f238aa0e62d072f72fd57911af256);
        
    
        var popup_1b56a466f2d769672be94e6423815ac4 = L.popup({"maxWidth": "100%"});

        
            
                var html_bb72453361c7f6de2c38e5616522360a = $(`<div id="html_bb72453361c7f6de2c38e5616522360a" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_1b56a466f2d769672be94e6423815ac4.setContent(html_bb72453361c7f6de2c38e5616522360a);
            
        

        marker_8c37e6d42bf3b4c1658f6de05d39dad9.bindPopup(popup_1b56a466f2d769672be94e6423815ac4)
        ;

        
    
    
            var marker_7873261cf2cfc7fc01a38a3fa00e111f = L.marker(
                [42.43778, 19.2321],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_49a0ee3b9ef46fddf67f1d4a6d53dc0c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_7873261cf2cfc7fc01a38a3fa00e111f.setIcon(icon_49a0ee3b9ef46fddf67f1d4a6d53dc0c);
        
    
        var popup_b387456f6bfa4773ae96526ccc722041 = L.popup({"maxWidth": "100%"});

        
            
                var html_a7946365b02bb4e57604a2e4bd15a574 = $(`<div id="html_a7946365b02bb4e57604a2e4bd15a574" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_b387456f6bfa4773ae96526ccc722041.setContent(html_a7946365b02bb4e57604a2e4bd15a574);
            
        

        marker_7873261cf2cfc7fc01a38a3fa00e111f.bindPopup(popup_b387456f6bfa4773ae96526ccc722041)
        ;

        
    
    
            var marker_ef0de5f99b35a90f3d1e3b116f2a77eb = L.marker(
                [42.42913, 19.27182],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_0ee0dbe8ae4c19eeb0a62c880e4efcce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ef0de5f99b35a90f3d1e3b116f2a77eb.setIcon(icon_0ee0dbe8ae4c19eeb0a62c880e4efcce);
        
    
        var popup_84a821ce581888f79ff833f56d566791 = L.popup({"maxWidth": "100%"});

        
            
                var html_3d21289c5023f18cf593bc09f18bc7e1 = $(`<div id="html_3d21289c5023f18cf593bc09f18bc7e1" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_84a821ce581888f79ff833f56d566791.setContent(html_3d21289c5023f18cf593bc09f18bc7e1);
            
        

        marker_ef0de5f99b35a90f3d1e3b116f2a77eb.bindPopup(popup_84a821ce581888f79ff833f56d566791)
        ;

        
    
    
            var marker_b28000bc4db1f9395683b905d679ac78 = L.marker(
                [42.44252, 19.27376],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_6110b6596a84f108fb9386cc8231482d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b28000bc4db1f9395683b905d679ac78.setIcon(icon_6110b6596a84f108fb9386cc8231482d);
        
    
        var popup_8af52d70cdf1ee2d58399a5933eed5fd = L.popup({"maxWidth": "100%"});

        
            
                var html_dd5834bbf77ab2edcb8ee70a5d337b77 = $(`<div id="html_dd5834bbf77ab2edcb8ee70a5d337b77" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_8af52d70cdf1ee2d58399a5933eed5fd.setContent(html_dd5834bbf77ab2edcb8ee70a5d337b77);
            
        

        marker_b28000bc4db1f9395683b905d679ac78.bindPopup(popup_8af52d70cdf1ee2d58399a5933eed5fd)
        ;

        
    
    
            var marker_004669b01783caefbe7b89e882e2430e = L.marker(
                [42.4443, 19.25227],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_707f70fbad9660642f39bf8d9af9b850 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_004669b01783caefbe7b89e882e2430e.setIcon(icon_707f70fbad9660642f39bf8d9af9b850);
        
    
        var popup_c8b03646be45297c421b5cb032e4e4e3 = L.popup({"maxWidth": "100%"});

        
            
                var html_a9834cbd167e877137dbc81c1e504779 = $(`<div id="html_a9834cbd167e877137dbc81c1e504779" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_c8b03646be45297c421b5cb032e4e4e3.setContent(html_a9834cbd167e877137dbc81c1e504779);
            
        

        marker_004669b01783caefbe7b89e882e2430e.bindPopup(popup_c8b03646be45297c421b5cb032e4e4e3)
        ;

        
    
    
            var marker_a8273c023d1c03b0ebf31eef3d2df30d = L.marker(
                [42.4421, 19.24817],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_bf2d94bdf8162854ff407fa678c80a72 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a8273c023d1c03b0ebf31eef3d2df30d.setIcon(icon_bf2d94bdf8162854ff407fa678c80a72);
        
    
        var popup_0a615e35d7760b3da8e7400267aad427 = L.popup({"maxWidth": "100%"});

        
            
                var html_d580734399d6869d04c8d2f23e272c7d = $(`<div id="html_d580734399d6869d04c8d2f23e272c7d" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_0a615e35d7760b3da8e7400267aad427.setContent(html_d580734399d6869d04c8d2f23e272c7d);
            
        

        marker_a8273c023d1c03b0ebf31eef3d2df30d.bindPopup(popup_0a615e35d7760b3da8e7400267aad427)
        ;

        
    
    
            var marker_a7bddd7fda26b034286b238df4739944 = L.marker(
                [42.44128, 19.2529],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_4f563d384430f8f15516a6b4e9c842b2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a7bddd7fda26b034286b238df4739944.setIcon(icon_4f563d384430f8f15516a6b4e9c842b2);
        
    
        var popup_5fae2affbf05b2675355f2cc8ee542b9 = L.popup({"maxWidth": "100%"});

        
            
                var html_a4849c2cca2a0e9a422686101676a29a = $(`<div id="html_a4849c2cca2a0e9a422686101676a29a" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_5fae2affbf05b2675355f2cc8ee542b9.setContent(html_a4849c2cca2a0e9a422686101676a29a);
            
        

        marker_a7bddd7fda26b034286b238df4739944.bindPopup(popup_5fae2affbf05b2675355f2cc8ee542b9)
        ;

        
    
    
            var marker_54bfba5ea77d7d45026f00276f4395e5 = L.marker(
                [42.44042, 19.26387],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_a07541cbd3577b72347e108f6887d54b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_54bfba5ea77d7d45026f00276f4395e5.setIcon(icon_a07541cbd3577b72347e108f6887d54b);
        
    
        var popup_e618e98194580d83f357e99243c328cc = L.popup({"maxWidth": "100%"});

        
            
                var html_05bcd59ee146f93e8ec19a51190c6777 = $(`<div id="html_05bcd59ee146f93e8ec19a51190c6777" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_e618e98194580d83f357e99243c328cc.setContent(html_05bcd59ee146f93e8ec19a51190c6777);
            
        

        marker_54bfba5ea77d7d45026f00276f4395e5.bindPopup(popup_e618e98194580d83f357e99243c328cc)
        ;

        
    
    
            var marker_154671e9a790fc1959adf8e90788f08d = L.marker(
                [42.43491, 19.26032],
                {}
            ).addTo(map_39160964e16c6bc3ad370b998ebfb286);
        
    
            var icon_4966984096f4292749d74f1ddb9ec724 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_154671e9a790fc1959adf8e90788f08d.setIcon(icon_4966984096f4292749d74f1ddb9ec724);
        
    
        var popup_8df38d3efdbb9f0513ffb2e1fee5ec53 = L.popup({"maxWidth": "100%"});

        
            
                var html_ad39a2a8f2583b0e03e6946c4ca579b7 = $(`<div id="html_ad39a2a8f2583b0e03e6946c4ca579b7" style="width: 100.0%; height: 100.0%;">Voli</div>`)[0];
                popup_8df38d3efdbb9f0513ffb2e1fee5ec53.setContent(html_ad39a2a8f2583b0e03e6946c4ca579b7);
            
        

        marker_154671e9a790fc1959adf8e90788f08d.bindPopup(popup_8df38d3efdbb9f0513ffb2e1fee5ec53)
        ;

        
    
    
                function getLatLng(e){
                    var lat = e.latlng.lat.toFixed(6),
                        lng = e.latlng.lng.toFixed(6);
                    var txt = lat + "," + lng;
                    navigator.clipboard.writeText(txt);
                    alert("Copied to clipboard : \n    " + txt);
                    };
                map_39160964e16c6bc3ad370b998ebfb286.on('click', getLatLng);
            
    
                var lat_lng_popup_e8f5bd742db0f28ffddd5000eaea37e3 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_e8f5bd742db0f28ffddd5000eaea37e3
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_39160964e16c6bc3ad370b998ebfb286);
                    }
                map_39160964e16c6bc3ad370b998ebfb286.on('click', latLngPop);
            
    
                function newMarker(e){
                    var new_mark = L.marker().setLatLng(e.latlng).addTo(map_39160964e16c6bc3ad370b998ebfb286);
                    new_mark.dragging.enable();
                    new_mark.on('dblclick', function(e){ map_39160964e16c6bc3ad370b998ebfb286.removeLayer(e.target)})
                    var lat = e.latlng.lat.toFixed(4),
                       lng = e.latlng.lng.toFixed(4);
                    new_mark.bindPopup("Latitude: " + lat + "<br>Longitude: " + lng );
                    };
                map_39160964e16c6bc3ad370b998ebfb286.on('click', newMarker);
            
    
            var mouse_position_162356173065af8ee5180bdc317a51cf = new L.Control.MousePosition(
                {"emptyString": "Unavailable", "lngFirst": false, "numDigits": 5, "position": "bottomright", "prefix": "", "separator": " : "}
            );
            mouse_position_162356173065af8ee5180bdc317a51cf.options["latFormatter"] =
                undefined;
            mouse_position_162356173065af8ee5180bdc317a51cf.options["lngFormatter"] =
                undefined;
            map_39160964e16c6bc3ad370b998ebfb286.addControl(mouse_position_162356173065af8ee5180bdc317a51cf);
        
</script>
</html>