<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>

    <a href="/login">
        <button type="button">login</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/register">
        <button type="button">register</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/test-api-data">
        <button type="button">test api data</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/map">
        <button type="button">go to Map</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/to-file">
        <button type="button">record to file</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/scraping">
        <button type="button">start scraping</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/weight-to-file">
        <button type="button">check weight</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/drop-all">
        <button type="button">drop collections</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/tree-of-category">
        <button type="button">show tree of category</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/coords-of-markets/Aroma">
        <button type="button">show coords of Aroma markets</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/coords-of-markets/Franca">
        <button type="button">show coords of Franca markets</button>
    </a>
    <br>
    <br>
    <hr>
    <br>

    <a href="/coords-of-markets/Voli">
        <button type="button">show coords of Voli markets</button>
    </a>
</body>
</html>