<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
    <a href="/map">
        <button type="button">go to Map</button>
    </a>
    <br>
    <br>
    <hr>
    <br>
    <a href="/to-file">
        <button type="button">record to file</button>
    </a>
    <br>
    <br>
    <hr>
    <br>
    <a href="/scraping">
        <button type="button">start scraping</button>
    </a>
    <br>
    <br>
    <hr>
    <br>
    <a href="/drop-all">
        <button type="button">drop collections</button>
    </a>
</body>
</html>