<!DOCTYPE html>
<html>
<head>
    <title>Product Cards</title>
</head>
<body>

{#<button onclick="fetchAndDisplayProducts('first_ten_fromAroma')">testAroma</button>#}
{#<button onclick="fetchAndDisplayProducts('first_ten_fromFranca')">testFranca</button>#}
{#<button onclick="fetchAndDisplayProducts('first_ten_fromVoli')">testVoli</button>#}

<button onclick="send_selection()">send selection</button>

<button onclick="createButtonsCategory()">open catalog</button>

<div id="message"></div>

<div id="categoryButtons"></div>

<div id="productsContainer"></div>




<script>

    let data_user_choice = []

    async function createButtonsCategory() {
        const buttonsContainer = document.getElementById('categoryButtons');
        buttonsContainer.innerHTML = '';

        const f_categories_titles = await fetch(`/get_titles/categories`);
        const j_arr_of_categories = await f_categories_titles.json();
        const arr_of_categories = j_arr_of_categories["arr"];

        for (const current_title of arr_of_categories) {
            // Создаем кнопку для каждого элемента массива buttonNames
            const button = document.createElement('button');
            button.textContent = current_title; // Устанавливаем текстовое содержимое кнопки
            buttonsContainer.appendChild(button); // Добавляем кнопку в контейнер buttonContainer
            button.addEventListener('click', async function() {
                // При нажатии на кнопку создаем новые кнопки заново
                const buttonsContainer = document.getElementById('categoryButtons');
                buttonsContainer.innerHTML = '';

                const f_categories_titles = await fetch(`/get_titles/${current_title}`);
                const j_arr_of_categories = await f_categories_titles.json();
                const arr_of_categories = j_arr_of_categories["arr"];

                for (const cur_subcat of arr_of_categories) {
                    const button = document.createElement('button');
                    button.textContent = cur_subcat; // Устанавливаем текстовое содержимое кнопки
                    buttonsContainer.appendChild(button);
                    button.addEventListener('click', async function() {
                        const buttonsContainer = document.getElementById('categoryButtons');
                        buttonsContainer.innerHTML = '';
                        await fetchAndDisplayProducts(cur_subcat)
                        {#fetch(`/get_titles/${cur_subcat}`)#}
                    })
                }
            });
        }
    }


    async function fetchAndDisplayProducts(what_we_need) {

    const productsContainer = document.getElementById('productsContainer');
    productsContainer.innerHTML = '';

    const response_arr_of_id = await fetch(`/get_arr_of_id/${what_we_need}`);
    const data_arr_of_id = await response_arr_of_id.json();
    const arr_of_id = data_arr_of_id["arr"];

    for (const currentId of arr_of_id) {
        try {
            const response_img = await fetch(`/get_image/${currentId}`);
            const response_product_data = await fetch(`/get_product_data/${currentId}`)

            const img_data = await response_img.blob();
            const imageUrl = URL.createObjectURL(img_data);

            const product_data = await response_product_data.json()
            const product_name = product_data["product_name"];
            const product_price_per_kg_data = product_data["price_per_kg"];
            const product_market_data = product_data["market"];


            // Создаем div-контейнер для картинки и названия
            const productDiv = document.createElement('div');
            productDiv.className = 'product-container';

            // Создаем элемент img для отображения картинки
            const imageElement = document.createElement('img');
            imageElement.src = imageUrl;
            imageElement.className = 'image';
            productDiv.appendChild(imageElement);

            // Создаем элемент для названия
            const product_title = document.createElement('p');
            product_title.textContent = `${product_name}`;
            productDiv.appendChild(product_title);


            const product_price_per_kg = document.createElement('p');
            product_price_per_kg.textContent = `${product_price_per_kg_data}`;
            productDiv.appendChild(product_price_per_kg);


            const product_market = document.createElement('p');
            product_market.textContent = `${product_market_data}`;
            productDiv.appendChild(product_market);

            {##}




            const button = document.createElement('button');
            button.textContent = currentId; // Устанавливаем текстовое содержимое кнопки
            productDiv.appendChild(button);
            button.addEventListener('click', async function() {
                data_user_choice.push(currentId);
            })




            {#// Добавляем обработчик событий для карточки продукта#}
            {#productDiv.addEventListener('click', function() {#}
            {#    // Вызываем ваше кастомное событие (например, 'productClicked')#}
                {#const customEvent = new CustomEvent('productClicked', { detail: { productName: product_name } });#}
                {#document.dispatchEvent(customEvent);#}
            {##}
                {#        тут надо написать добавление id продукта в массив корзины        #}
            {#    data_user_choice.append(currentId)#}
                {#        тут надо написать добавление id продукта в массив корзины        #}
            {#);#}

            {##}

            productsContainer.appendChild(productDiv);
        } catch (error) {
            console.error(`Error fetching sth ${currentId}:`, error);
        }
    }
}


    async function send_selection(){
        // URL адрес вашего сервера или маршрут для обработки данных на бекенде
        const url = '/user_choice';

        const dataToSend = {
            "message": "its user choice",
            "arr_user_choice": data_user_choice
        }

        // Опции запроса (метод, заголовки и тело запроса)
        const options = {
            method: 'POST', // Метод запроса (в данном случае POST для отправки данных на сервер)
            headers: {
                'Content-Type': 'application/json' // Заголовок Content-Type для указания типа данных (JSON)
            },
            body: JSON.stringify(dataToSend) // Преобразование массива в JSON-строку и установка ее как тела запроса
        };

        // Отправка запроса на сервер
        fetch(url, options)
            .then(response => response.json()) // Обработка ответа от сервера
            .then(data => {
                const messageDiv = document.getElementById('message');
                // Обработка данных, полученных от сервера (если есть)
                messageDiv.textContent = `Сообщение: ${data.message}, Данные: ${data.arr_user_choice.join(', ')}`;
                console.log('Данные успешно отправлены на бекенд:', data);
                data_user_choice = []
            })
            .catch(error => {
                // Обработка ошибок при отправке запроса
                console.error('Ошибка при отправке данных на бекенд:', error);
            });
    }


</script>


<style>
    .product-container {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        max-width: 200px;
    }

    .image {
        max-width: 100%;
        height: auto;
    }
</style>

</body>
</html>